<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Quizmania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto" id="menu-list">
        </ul>
        <input type="hidden" id="loggedInUser" value="{{userData}}"> 
    </div>
</nav>
<script>
    
    if($("#loggedInUser").val()){
        let loggedInUser = (JSON.parse($("#loggedInUser").val()));
            if(loggedInUser){
                $(".loggedIn").show();
                $(".loggedOut").hide();
                if(loggedInUser.userType == "professor"){
                    let len = (((window.location.pathname).split("/")).filter(item => item)).length;
                    let path;
                    let logoutPath;
                    if(len==0){
                        path = "./professor/";
                        logoutPath = "../dashboard/";
                    } 

                    if(len==1){
                        path = "./";
                        logoutPath = "../dashboard/";
                    } 
                    
                    if(len==2){
                        path = "./";
                        logoutPath = "../../dashboard/";
                    } 

                    if(len==3){
                        path = "../";
                        logoutPath = "../../../dashboard/";
                    } 

                    if(len==4){
                        path = "../../";
                        logoutPath = "../../../dashboard/";
                    } 

                    let menu = `<li class="nav-item" id="welcomName">
                                    <a class="nav-link" href="${logoutPath}userProfile">${"Hi, "+loggedInUser.firstName}</a>
                                </li>
                                <li class="nav-item loggedInProfessor">
                                    <a class="nav-link" href="${path+"category"}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="${logoutPath}logout">Logout</a>
                                </li>
                                `;
                    $("#menu-list").html(menu);
                }else{

                    let len = (((window.location.pathname).split("/")).filter(item => item)).length;
                    let path;
                    let logoutPath;
                    if(len==0){
                        path = "./student/";
                        logoutPath = "../dashboard/";
                    } 

                    if(len==1){
                        path = "./";
                        logoutPath = "../dashboard/";
                    }

                    if(len==2){
                        path = "./";
                        logoutPath = "../dashboard/";
                    } 

                    if(len==3){
                        path = "../";
                        logoutPath = "../../dashboard/";
                    } 

                    let menu;
                    if(loggedInUser.isActive === true){
                        menu = `<li class="nav-item" id="welcomName">
                                    <a class="nav-link" href="${logoutPath}userProfile">${"Hi, "+loggedInUser.firstName}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="${path}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="${path+"my-score"}">View Score</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="${logoutPath}logout">Logout</a>
                                </li>`;
                    }else if(loggedInUser.isActive === false){
                        menu = `<li class="nav-item">
                                    <a class="nav-link" href="${logoutPath}logout">Logout</a>
                                </li>`;
                    }
                    $("#menu-list").html(menu);
                }
            }else{
                let menu = `<li class="nav-item">
                                <a class="nav-link" href="../">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./login">Login</a>
                            </li>`;
                $("#menu-list").html(menu);
            }
    }else{
        let menu = `<li class="nav-item">
                        <a class="nav-link" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login">Login</a>
                    </li>`;
        $("#menu-list").html(menu);
    }
</script>