<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Quizmania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="welcomName">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item loggedOut">
                <a class="nav-link" href="../login">Login</a>
            </li>
            <li class="nav-item loggedInProfessor">
                <a class="nav-link" href="./category">Dashboard</a>
            </li>
            <li class="nav-item loggedInStudent">
                <a class="nav-link" href="./student">Dashboard</a>
            </li>

            <li class="nav-item loggedInStudent">
                <a class="nav-link" href="./dashboard">View Score</a>
            </li>
            
            </li>
            <li class="nav-item loggedIn">
                <a class="nav-link" href="../users/logout">Logout</a>
            </li>
        </ul>
        <input type="hidden" id="loggedInUser" value="{{userData}}"> 
    </div>
</nav>
<script>
    if($("#loggedInUser").val()){
        let loggedInUser = (JSON.parse($("#loggedInUser").val()));
            if(loggedInUser){
                $(".loggedIn").show();
                $(".loggedOut").hide();
                $("#welcomName").find('a').html("Hi, "+loggedInUser.firstName);
                if(loggedInUser.userType == "professor"){
                    $(".loggedInStudent").hide();
                    $(".loggedInProfessor").show();
                }else{
                    $(".loggedInStudent").show();
                    $(".loggedInProfessor").hide();
                }
            }else{
                $(".loggedIn").hide();
                $(".loggedOut").show();
                $(".loggedInStudent").hide();
                $(".loggedInProfessor").hide();
            }
    }else{
        $(".loggedIn").hide();
        $(".loggedOut").show();
        $(".loggedInStudent").hide();
        $(".loggedInProfessor").hide();
    }
</script>