<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizmania | Online quiz | Learning Managment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/site.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

  <body>

    <main>
      {{{body}}}
      <div class="jumbotron text-center footerSec fixed-bottom" style="margin-bottom:0">
        <p>Copyright © 2021 QuizMania, Inc. All rights reserved.</p>
      </div>
    </main>
  </body>

</html>