
.base-timer {
    position: relative;
    width: 45px;
    height: 45px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #dee2e6;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .base-timer__label2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }


  .question{
    display: none;
  }

  .question-display{
    display:block;
  }


  
  .card {
    display: inline-block;
    margin: 3px;
  }




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dashboard-button{
  margin: 2px;
}

.img-home{
  height: inherit;
  width: inherit;
}

.enrollBtn{
  float: right;
}

.enrollBtnDiv{
  display: flow-root;
}

.error-section{
  color: red;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.questionSideSec{
  overflow-y: auto; overflow-x: hidden; height: 250px; cursor: pointer;
}
.quizAnsSubmit{
  float: right;
  padding: 20px;
}

.timer{
  margin-top: 30px;
}

.footerSec{
  padding: 1rem 2rem;
}

.container{
  margin-top: 90px;
  margin-bottom: 5rem !important;
}

.cardBtn{
  text-align: center;
}

.enableToggleClass, .quizReleaseToggleClass, .disableToggleClass{
  float: right;
  margin-left: 4px;;
}