{{> headers this}}


<div class="container" style="margin-top:30px">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-8">
      <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    401 Unauthorized</h2>
                <div class="error-details">
                    Sorry, your access is refused due to security reasons of our server and also our sensitive data.
                    Please go back to the previous page to continue browsing.
                </div>
                <div class="error-actions">
                    <a href="./" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
    </div>
  </div>
</div>
<script>
  localStorage.clear();
</script>