{{> headers this}}

<div class="container" style="margin-top:30px">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-10">
      <h1>All Category</h1>
      <div class="row justify-content-md-center row-custom">
        <a href="/professor/createCategory" class="btn btn-primary dashboard-button">Create Category</a>
        <a href="/professor/createQuiz" class="btn btn-primary dashboard-button">Create Quiz</a>
        <a href="/professor/allStudents" class="btn btn-primary dashboard-button">Students List</a>
        <a href="/professor/allquiz" class="btn btn-primary dashboard-button">All Quiz</a> 
      </div>
      {{> error-section this}}
      {{#if categoriesResult.length }}
      {{#each categoriesResult}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this}}</h5>
          <p class="card-text">Brows all sub-category by view all button.</p>
        </div>
        <div class="cardBtn">
        <a href="/professor/category/{{this}}" class="btn btn-primary">View All</a>
        </div>
      </div>
      {{/each}}
      {{/if}}
     
    </div>
  </div>
</div>