{{> headers this}}



<table>
  <tr>
    <th>Category</th>
    <th>subCategory</th>
    <th>test Score</th>
  </tr>
  {{#each myres}}
  <tr>
    <td>{{this.cat}}</td>
    <td>{{this.subCat}}</td>
    <td>{{this.tstScore}}</td>
    {{/each}}
  </tr>
  
</table>



























