<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Quizmania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto" id="menu-list">
          <li class="nav-item loggedInProfessor">
              <a class="nav-link" href="../dashboard/logout">Logout</a>
          </li>
        </ul>
        <input type="hidden" id="loggedInUser" value="{{userData}}"> 
    </div>
</nav>


<div class="container">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-8">
      <div class="error-template">
                <h1>
                    Oops !!</h1>
                <h2>
                    Sorry your enrollment is not accepted by any professor. </h2>
                <div class="error-details">
                    Please enroll in atleat one category!
                </div>
                <div class="error-actions">
                    <a href="../student/enroll-now" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Enroll now! </a>
                </div>
            </div>
    </div>
  </div>
</div>
<script>
  localStorage.clear();
</script>