{{> headers this}}

<div class="container" style="margin-top:30px">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../category">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Category Quizzes</a></li>
          </ol>
        </nav>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h2 class="card-title">Category Quizzes</h2>
        </div>
        {{#each subCategoriesResult}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/professor/category/subCategory/{{this}}">{{this}}</a></li>
        </ul>
        {{/each}}
      </div>
      {{> error-section this}}
    </div>
  </div>
</div>