{{> headers this}}


<div class="container">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-8">
      <div class="error-template">
                <h1>
                    congratulations !!</h1>
                <h2>
                    Your account has been successfully created. </h2>
                <div class="error-details">
                    Please login with your newly created credentials!
                </div>
                <div class="error-actions">
                    <a href="./login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Login page </a>
                </div>
            </div>
    </div>
  </div>
</div>
<script>
  localStorage.clear();
</script>