{{> headers this}}

<div class="container">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-10">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./category">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">My All Student</a></li>
          </ol>
        </nav>
      <div class="card col-sm-12">
        <div class="card-body">
          <h2 class="card-title">All Student</h2>
        </div>
        <ul class="list-group list-group-flush" id="todoArea">
          {{> error-section this}}
          {{#each getAllStudentUnderProfessorResult}}
          <li class="list-group-item"><a>{{firstName}} {{lastName}}</a>
            {{#if isActive }}
            {{else}}
            <button type="submit" class="btn btn-primary verifyClass" data-id="{{_id}}"
              id="verifyStatusID">Verify</button>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="../../public/js/verifyStudent.js"></script>